body {
  text-align: center;
}

.bar {
  width: 0.2rem;
  font-size: xx-small;
}

.normal {
  background-color: aqua;
}

.cursor {
  background-color: red;
}

.arrContainer {
  gap: 0.5px;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 80%;
  margin: 0 auto;
}
